.service-edit .information-section {
    margin-bottom: 1rem;
}

.service-edit .information-section .tooltip {
    margin-right: 0.35rem;
}

.service-edit .features .feature .anticon {
    margin-right: 0.25rem;
}

.service-edit .types .ant-table {
    border: none;
}
